.jumbotron {
 background-color: #F1CA6B;
 background-size: cover;
 color: #6C473A;
}

.navbar {
 background-color: #9DBBB0;
}

.solve {
 background-color: #F1CA6B;
 background-size: cover;
 color: #6C473A;
}